body {
  margin: 0 auto;
  max-width: 450px;
  padding: 10px;
}
main {
  background-image: url("https://cdn.statically.io/img/blazepress.com/.image/c_fit,h_600,w_600/MTMyNTkzNjEzNzY1ODgwNDUx/subtle-motion-gif-3gif.gif?quality=100&f=auto");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #ffffff;
  opacity: 0.8;
  padding: 15px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
  color: #f6cbed;
  opacity: 0.8;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: underline;
}
h3 {
  color: #f6cbed;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: capitalize;
}
h4 {
  color: #ffffff;
  opacity: 0.8;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: capitalize;
  text-align: right;
  text-decoration: underline;
  text-decoration-color: #b5a3db;
}
#updated {
  text-align: right;
  font-size: larger;
}
#weather-description {
  color: #ffffff;
  opacity: 0.8;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: capitalize;
  display: block;
  font-size: xx-large;
  text-align: left;
  text-decoration: underline;
  text-decoration-color: #ac93cb;
}

h5 {
  font-weight: bold;
  color: #f6cbed;
  opacity: 0.8;
  text-align: center;
  display: block;
  font-size: smaller;
}

h6 {
  font-weight: lighter;
  color: #f6cbed;
  opacity: 0.8;
  font-weight: bold;
  text-align: center;
  display: block;
  font-size: smaller;
}

#temperature {
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #cd6b90;
  opacity: 0.8;
  font-size: 64px;
  display: block;
}
span {
  font-size: small;
  text-align: top;
}
#humidity {
  color: #ffffff;
  opacity: 0.8;
  font-size: large;
  display: block;
}
#wind {
  color: #ffffff;
  opacity: 0.8;
  font-size: large;
  display: block;
}
a {
  text-decoration: none;
  text-align: top;
  color: hotpink;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  color: #ffffff;
  opacity: 0.8;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
  display: block;
}
.weatherApp {
  position: relative;
  left: 12%;
}
.weatherIcon {
  margin: 0 auto;
  text-align: center;
}
#city-input {
  width: 60%;
  background-color: #f6cbed;
  opacity: 0.8;
  border-color: blueviolet;
  align-items: center;
  padding: 0.8%;
  display: block;
  margin: 0 auto;
}
input {
  background-color: #cd6b90;
  color: #ffffff;
  opacity: 0.8;
  text-align: center;
  padding: 0.8%;
}
button {
  background-color: #cd6b90;
  color: #ffffff;
  opacity: 0.8;
  text-align: center;
  padding: 0.8%;
}
hr {
  color: hotpink;
}
#open-source {
  text-align: end;
}
.card {
  background-color: rgba(239, 248, 254, 0.08);
  display: block;
  margin: 0 auto;
}
.card-body {
  display: block;
  text-align: center;
  margin: 0 auto;
}
